<article class="table-header">
  <button class="button-add-row" mat-button (click)="reload()">
    <mat-icon>refresh</mat-icon>
  </button>
</article>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="board">
    <mat-header-cell *matHeaderCellDef>Board</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.board }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button type="button" mat-icon-button (click)="view(row)">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="remove(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>
