<header>
  <mat-toolbar color="primary">
    <div class="title d-none d-md-inline">
      <h1>TicTacToe</h1>
    </div>
  </mat-toolbar>
</header>
<div class="content" role="main">
  <div class="container">
    <mat-tab-group class="tab-group" [(selectedIndex)]="selectedTab">
      <mat-tab label="Play">
        <ng-template md-tab-label>
          Play
        </ng-template>
        <app-board [board]="board"></app-board>
      </mat-tab>
      <mat-tab label="Games">
        <ng-template md-tab-label>
          Games
        </ng-template>
        <boards-list (viewBoard)="onBoardSelected($event)" [activeTab]="selectedTab"></boards-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<router-outlet></router-outlet>
